@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Navbar*/

:root {
  --color-purple: #C55FFB;
  --color-darkgray: #333F43;
  --color-lightpurple: #EFDCF9;
  --color-blue: #2596BE;
}

/*shadow when active or hover*/
#basic-navbar-nav .nav-link:hover,
#basic-navbar-nav .nav-link.active {
  font-weight: bold;
}

#basic-navbar-nav .nav-link {
  color: 'black'; 
  cursor: 'pointer'
}

/*make the brand name cursive*/
.pageTitle,
.navbar-brand {
  font-family: 'Dancing Script', cursive;
}